<div class="page-header">
  <h1 class="text-center">Todo List</h1>
</div>
<div class="panel">
  <div class="input-group">
    <input class="form-control">
    <span class="input-group-btn">
      <button class="btn btn-default">Add</button>
    </span>
  </div><!-- end of input group-->
  <table class="table table-striped">
    <thead>
      <tr><th>Description</td><th>Done?</th></tr>
    </thead> 
    <tbody>
      
    </tbody>
  </table>
</div><!-- end of panel -->

